body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.5; }

#container {
  -webkit-clip-path: polygon(15% 0, 85% 0, 80% 41%, 80% 95%, 20% 95%, 20% 41%);
  clip-path: polygon(15% 0, 85% 0, 80% 41%, 80% 95%, 20% 95%, 20% 41%);
  border-radius: 30% 30% 45% 45%;
  height: 170px;
  width: 130px; }

#screen-container {
  -webkit-clip-path: polygon(10% 30%, 90% 30%, 100% 100%, 0 100%);
  clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0 100%);
  border-radius: 50px 50px 0px 0px;
  height: 65px;
  width: 75px;
  transform: translate(37%, -25%); }

#solar {
  height: 8px;
  width: 30px;
  transform: translate(0%, 275%); }

#solar-row {
  height: 8px;
  width: 25px;
  transform: translate(0%, 275%);
  border-radius: 1px solid green; }
